body {
    background-color: aquamarine;
}

#wrapper {
    background-color: cornsilk;
    width: 500px;
    min-height: 100px;
    margin: 0 auto;
    padding: 15px;
}

.row {
    border-bottom: 1px solid brown;
}

.items {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 5px;
}

.checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid brown;
    margin: 0 5px;
}

.checkbox:hover {
    background-color: cadetblue;
}

#new-item {
    float: right;
    background-color:beige;
    width: 450px;
    font-size: 1.25em;
}

#edit-item {
    background-color:beige;
    width: 400px;
    font-size: 1.25em;
    margin: 10px;
}

#submit {
    float: left;
    height: 25px;
    width: 25px;
    font-size: 1.5em;
    padding: 0px;
    line-height: 1em;
    font-weight: bold;
    font-size: 25px;
}

#submit i {
    margin: 0px;
    padding 0px;
}

.done {
    background-color: chartreuse;
}

.not-done {
    background-color: crimson;
}

header {
    text-align: center;
}

.edit {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid brown;
    margin: 7px 5px;
    float: right;
    cursor: pointer;
    padding: 0px;

}